
body{
    /* UI Properties */
background: #0A22F4 0% 0% no-repeat padding-box;
opacity: 1;
width: 1920px;
height: 1080px;
}


h3{
    top:275px;
    left:240px;
    width: 162px;
    height: 38px;
    display: inline-block;
    position: absolute;
        /* UI Properties */
    text-align: left;
    font: normal normal bold 32px/39px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

p{
    /* Layout Properties */
    top: 343px;
    left: 240px;
    width: 463px;
    height: 99px;
    position:absolute;

    font: normal normal normal 16px/26px Helvetica NeueLTGEOW82-55Rm;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.white-box{
    /* Layout Properties */
    top: 510px;
    left: 240px;
    width: 463px;
    height: 197px;
    position: absolute;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.map{
    /* Layout Properties */
    top: 500px;
    left: 250px;
    width: 463px;
    height: 197px;
    position: absolute;
}
li{
    list-style: none;
}

.little-white-box1, .little-white-box2{
    /* Layout Properties */
    top: 767px;
    width: 70px;
    height: 70px;
    position:absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.little-white-box1{
    left: 240px;
}

.little-white-box2{
    left: 606px;
}

.phone-logo{
    /* Layout Properties */
    position:absolute;
    top: 789px;
    left: 262px;
    width: 26px;
    height: 26px;
}
.message-logo{
    /* Layout Properties */
    position: absolute;
    top: 792px;
    left: 630px;
    width: 22px;
    height: 20px;
}

.number, .email{
    font: normal normal bold 22px/27px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.number{
    /* Layout Properties */
    position: absolute;
    top: 789px;
    left: 330px;
    width: 178px;
    height: 26px;
}

.email{
    /* Layout Properties */
    position: absolute;
    top: 789px;
    left: 696px;
    width: 216px;
    height: 26px;
}